body {
    font-family: helvetica;
    padding: 20px;
    width: 60vw;
      max-width: 800px;
      min-width: 300px;
      margin: 0 auto;
    padding-bottom: 2em;
  }
  
  
  h1, p {
    text-align: center;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #img-caption {
    text-align: center;
    font-size: 14;
  }
  
  .tribute-info {
    font-weight: bold;
    padding: 20px;
    font-size: 18;
  }
  
  li {
    padding:10px;
    display: block;
      margin: 0, 0.5rem;
    font-size: 14;
  }
  
  .quote {
    padding-top: 40px;
    padding-bottom: 0;
    font-style: italic;
  }
  .signature {
    padding-top: 0;
    padding-bottom: 40px;
    font-style: italic;
  }
  
  .tribute-link {
    font-weight: bold;
    text-align: center;
  }